body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    background: url('https://th.bing.com/th/id/OIP.iQi9y16sonYzapIsqPkiawHaDt?rs=1&pid=ImgDetMain') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 1rem;
    font-size: 1.1rem;
}

header {
    background-color: #18226c;
    color: white;
    padding: 1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 1rem;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

input[type="text"] {
    padding: 0.8rem;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #18226c;
}

button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: #18226c;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #18376d;
    transform: scale(1.05);
}

#mic {
    background-color: #18226c;
    border: none;
    color: white;
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.5rem;
    outline: none;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

#mic:hover {
    background-color: #18376d;
    transform: scale(1.1);
}

#conversation {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
}

.user {
    background-color: #daf2fe;
    align-self: flex-end;
    border-radius: 20px 20px 0 20px;
}

.assistant {
    background-color: #f1f1f1;
    align-self: flex-start;
    border-radius: 20px 20px 20px 0;
}

#image-results {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#image-results img {
    margin-top: 20px;
    border-radius: 10px;
}
